<a href="https://colab.research.google.com/github/pranscript/gala/blob/master/GALA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!unzip dataset.zip

In [0]:
cd dataset

/content/dataset

In [0]:
!ls

test.csv  testImages  train.csv  trainImages

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('train.csv')
df.head()

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire

In [0]:
!ls

sample_data

In [0]:
cd ..

/

In [0]:
!ls

bin					   lib	  srv
boot					   lib32  swift
content					   lib64  sys
datalab					   media  tensorflow-1.15.0
dataset.zip				   mnt	  tmp
dev					   opt	  tools
dlib-19.18.0-cp27-cp27mu-linux_x86_64.whl  proc   usr
dlib-19.18.0-cp36-cp36m-linux_x86_64.whl   root   var
etc					   run
home					   sbin

In [0]:
cd content/

/content

In [0]:
!ls

sample_data